node_modules/
.pnpm-store/
.DS_Store
.env
.env.*
apps/dapp/.next/
apps/dapp/out/
apps/dapp/.turbo/
packages/contracts/artifacts/
packages/contracts/cache/
packages/contracts/deployments/
packages/contracts/typechain-types/

# logs
*.log

apps/dapp/tsconfig.tsbuildinfo
